@import url('https://fonts.googleapis.com/css2?family=Alyamama:wght@300..900&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.quiz__wrapper{
  background: green;

  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}


.quiz__container{
  background: lawngreen;
padding: 0.5rem;
width: 20rem;
}

.quiz__top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: forestgreen;
  padding: 1rem 0.3rem;
}


.options{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background: red;
}


.options label::before {
  content: "⭕";
}


.options .correct__answer::before {
  content: "🟢";
}


.options .wrong__answer::before {
  content: "🔴";
}


.navigator{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.ques__ayah{
  background: green;
  width: 100%;
  color: white;
  padding: 0.1rem;
  font-family: 'Alyamama', serif;
}

.hidden{
  display: none;
}
